# package directories
node_modules
jspm_packages
build
.DS_Store
dist

# Serverless directories
.serverless
package-lock.json
backend/*.js
backend/serverless_sdk

# secret files
.env.development
backend/api/package-lock.json


# bootstrap
bootstrap-4.3.1/.github
bootstrap-4.3.1/nuget